[Unit]
Description=Airflow webserver daemon
After=network.target

[Service]
Environment="PATH=/srv/airflow/bin"
Environment="AIRFLOW_HOME=/home/danny/airflow"
User=danny
Type=simple
ExecStart=/home/danny/anaconda3/bin/airflow webserver -p 8003
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target